<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/Home.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <ul id="nav">
        <li><a href="">Home</a></li>
        <li><a href="">Band</a></li>
        <li><a href="">Tour</a></li>
        <li><a href="">View</a></li>
        <li>
          <a href="">Contact</a>
          <ul class="subnav">
            <li><a href="">Java</a></li>
            <li><a href="">C#</a></li>
            <li><a href="">Python</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="slider"></div>

    <div id="content">
      <form action="/create-user" method="POST">
        <div class="form-add-new">
          <fieldset>
            <legend>Đăng ký</legend>
            <div class="input-group">
              <label for="name">Name:</label>
              <input type="text" name="name" id="name" />
            </div>

            <div class="input-group">
              <label for="email">Email:</label>
              <input type="email" name="email" id="email" />
            </div>

            <div class="input-group">
              <label for="city">City:</label>
              <input type="text" name="city" id="city" />
            </div>

            <div><button class="button-group">Save</button></div>


          </fieldset>
        </div>
      </form>


    </div>
  </div>
  <div id="footer"></div>
  </div>
</body>

</html>